# Virtual environment
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PySpark / Flink logs
*.log
*.out

# IDEs
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Config
.env
.env.*

# Batch pipeline
batch_pipeline/output/
batch_pipeline/artifacts/
batch_pipeline/*.csv